:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196F3;
  --primary-white-color: #FFFFFF;
  --black-color: #000000;
  --primary-background-color: #F5F5F5;
  --hero-footer-color: #2F303A;
  --bcg-button-portfolio: #F5F4FA;
  --border-portfolio: #EEEEEE;
  --transition-hover-focus: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6 ul,
p {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}

.body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 15px 25px;
}

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: block;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  margin-right: 94px;
  color: var(--black-color);
}

.logo-part {
  color: var(--accent-color);
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-list__item:not(:first-child) {
  margin-left: 50px;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  -webkit-transition: var(--transition-hover-focus);
  transition: var(--transition-hover-focus);
  color: var(--primary-text-color);
}
.link:hover, .link:focus {
  color: var(--accent-color);
}
.link.current::after {
  content: "";
  position: absolute;
  top: 276%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.link.current {
  color: var(--accent-color);
  position: relative;
}

.contact-wrap {
  margin-left: auto;
}

.phone {
  margin-left: 50px;
}

.heder-list__icon {
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: var(--transition-hover-focus);
  transition: var(--transition-hover-focus);
}

.header-list__link {
  color: var(--secondary-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-list__link:hover .heder-list__icon, .header-list__link:focus .heder-list__icon {
  fill: var(--accent-color);
}

.overlay {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero.jpg);
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(47, 48, 58, 0.4);
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: block;
  text-align: center;
  margin: 0 auto;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  max-width: 216px;
  width: 216px;
  height: 50px;
  border: solid var(--accent-color);
  border-radius: 4px;
}

.features-section {
  padding: 94px 0;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features-list__item:not(:first-child) {
  margin-left: 30px;
}
.features-list__item::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: var(--bcg-button-portfolio);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}
.features-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.icon-antenna::before {
  background-image: url(../img/antenna.svg);
}

.icon-clock::before {
  background-image: url(../img/clock.svg);
}

.icon-diagram::before {
  background-image: url(../img/diagram.svg);
}

.icon-astronavt::before {
  background-image: url(../img/astronaut.svg);
}

.what-we-do-section {
  padding-bottom: 94px;
  z-index: 0;
}

.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.what-we-do-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.what-we-do-items {
  position: relative;
}
.what-we-do-items:not(:first-child) {
  margin-left: 30px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.what-we-do-wrap {
  position: absolute;
  bottom: 0px;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  z-index: 0;
}

.what-we-do-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-family: "Roboto";
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.our-team-section {
  padding: 94px 0;
  background-color: var(--bcg-button-portfolio);
  margin-right: auto;
  margin-left: auto;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.our-team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.our-team-item {
  background-color: var(--primary-white-color);
  border: 1px solid var(--border-portfolio);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.our-team-item:not(:first-child) {
  margin-left: 30px;
}

.our-team-wrap {
  padding: 30px;
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.our-team-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-item-link:hover .social-icon, .social-item-link:focus .social-icon {
  fill: var(--primary-white-color);
}
.social-item-link:hover, .social-item-link:focus {
  background-color: var(--accent-color);
}

.social-icon {
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-section {
  padding: 94px 0;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 92px;
  border-radius: 4px;
}
.clients-item:not(:first-child) {
  margin-left: 30px;
}

.company-ya-co {
  width: 41px;
  height: 47px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #AFB1B8;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-clients:hover, .link-clients:focus {
  border: 1px solid var(--accent-color);
}
.link-clients:hover .company-ya-co, .link-clients:focus .company-ya-co, .link-clients:hover .company-comp, .link-clients:focus .company-comp, .link-clients:hover .company-company2, .link-clients:focus .company-company2, .link-clients:hover .company-peters, .link-clients:focus .company-peters, .link-clients:hover .company-brand, .link-clients:focus .company-brand, .link-clients:hover .company-comp3, .link-clients:focus .company-comp3 {
  fill: var(--accent-color);
}

.company-comp {
  width: 40px;
  height: 52px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-company2 {
  width: 44px;
  height: 41px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-peters {
  width: 85px;
  height: 40px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-brand {
  width: 62px;
  height: 45px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-comp3 {
  width: 93px;
  height: 43px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: var(--hero-footer-color);
  color: var(--primary-white-color);
  padding: 60px 0;
}

.logo-footer {
  color: var(--primary-white-color);
  display: block;
  margin-bottom: 20px;
}

.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.adress {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--primary-white-color);
}

.email-phone {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-adress {
  margin-right: 70px;
}

.footer-social {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.social-item:not(:first-child) {
  margin-left: 10px;
}

.link-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-social:hover, .link-social:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.icon {
  fill: var(--primary-white-color);
  width: 20px;
  height: 20px;
}

.footer-form {
  margin-left: auto;
  width: 570px;
  height: 86px;
}

.form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form-wrap input {
  width: 358px;
  height: 50px;
  background-color: var(--hero-footer-color);
  outline: none;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 15px;
  padding: 16px;
  color: var(--primary-white-color);
}
.form-wrap::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  font-family: "Roboto";
  -webkit-box-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.form-wrap::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  font-family: "Roboto";
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.form-wrap:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  font-family: "Roboto";
  -ms-flex-align: center;
      align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.form-wrap::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  font-family: "Roboto";
  -ms-flex-align: center;
      align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.form-wrap::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  font-family: "Roboto";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.form-wrap button {
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-form {
  fill: var(--primary-white-color);
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 3;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border: none;
  background-color: var(--primary-white-color);
  margin-top: 8px;
  margin-right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.cros {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: var(--black-color);
}

.close:hover .cros {
  fill: var(--accent-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  font-family: "Roboto";
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.form-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-list-item:not(:first-child) {
  margin-top: 10px;
}

.form-list-item input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.form-list-item input:focus {
  border: 1px solid var(--accent-color);
}

.form-list-item input:focus + svg {
  fill: var(--accent-color);
}

.form-list-item svg {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.input-wrap {
  position: relative;
}

.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  font-family: "Roboto";
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.form-coment {
  max-width: 448px;
  max-height: 120px;
  resize: none;
}

textarea {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  font-family: "Roboto";
  padding: 12px 16px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

textarea:focus {
  border: 1px solid var(--accent-color);
}

.form-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.label-checkbox {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  font-family: "Roboto";
  color: var(--secondary-text-color);
  border-radius: 4px;
  outline: none;
}

.link-checkbox {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-left: 2px;
  font-family: "Roboto";
  color: var(--accent-color);
}

.square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  margin-right: 9px;
}

.input-checkbox:checked + .square {
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: block;
  margin: 0 auto;
  background-color: var(--accent-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: var(--primary-white-color);
  width: 216px;
  height: 50px;
  border: solid var(--accent-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.link.current-port {
  color: var(--accent-color);
  position: relative;
}

.link.current-port::after {
  content: "";
  position: absolute;
  top: 276%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 78px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header-portfolio {
  border-bottom: 1px solid #ececec;
}

.project-section {
  padding: 94px 0;
}

.item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.project-item:not(:first-child) {
  margin-left: 8px;
}

.button-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: var(--bcg-button-portfolio);
  padding: 6px 22px;
  border: solid var(--bcg-button-portfolio);
  border-radius: 4px;
  -webkit-transition: background-color, color, border-radius, border, -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color, color, border-radius, border, -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color, color, border-radius, border, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color, color, border-radius, border, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border-radius: 4px;
  border: solid var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.link-project-list {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-project-list:hover,
.link-project-list:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-list-item {
  margin-top: 30px;
  margin-left: 30px;
  border-bottom: #EEEEEE;
}

.project-list-thumb {
  position: relative;
}

.project-list-thumb::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transition: opacity, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity, transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity, transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  animation-direction: reverse;
  -webkit-transform: scaley(0);
          transform: scaley(0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.link-project-list:hover .project-list-thumb::before {
  opacity: 1;
  animation-direction: reverse;
  -webkit-transform: scaley(1);
          transform: scaley(1);
}

.project-list-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  font-family: "Roboto";
  color: var(--primary-white-color);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  width: 322px;
  height: 168px;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-project-list:hover .project-list-text {
  opacity: 1;
}

.wrap {
  padding: 20px 24px;
  border-left: 1px solid var(--border-portfolio);
  border-bottom: 1px solid var(--border-portfolio);
  border-right: 1px solid var(--border-portfolio);
  max-width: 370px;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  font-family: "Roboto";
  color: var(--primary-text-color);
}

.project-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}/*# sourceMappingURL=main.css.map */