.header-container {
    display: flex;
    align-items: center;
    padding: 16px 10px 16px 15px;
    @media screen and(min-width:768px){
    padding: 21px 15px;
    }
    @media screen and(min-width:1200px) {
    padding: 24px 15px 25px;
    }
     }
.logo {
    @include font(700, 24px, 1.19, 0.03em);

    display: block;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    // margin-right: 94px;
    color: var(--black-color);
    @media screen and(min-width:768px) {
         margin-right: 88px;
        }
    @media screen and(min-width:1200px) {
        @include font(700, 26px, 1.19, 0.03em);
        margin-right: 94px;
    }
    
}
.logo-part {
    color: var(--accent-color);
}
.site-nav{
       
}

@media screen and (max-width:767px) {
    .site-nav {
        display: none;
    }
}
.header-list {
    display: flex;
}



.header-list__item:not(:first-child) {
    margin-left: 50px;
}

.link {
    @include font(500, 14px, 1.14, 0.02em);
    font-family: Roboto, sans-serif;
    text-decoration: none;
    transition: var(--transition-hover-focus);
    color: var(--primary-text-color);
    
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
&.current::after {
    content: "";
    position: absolute;
    top: 276%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}

&.current {
    color: var(--accent-color);
    position: relative;
}
}

.contact-wrap {
        margin-left: auto;
}
@media screen and (max-width:767px) {
        .contact-wrap{
            display: none;
        } 
         
    }
@media screen and (min-width:768px) {
        .contact-wrap .header-list {
         display: block;
         }
        }
@media screen and (min-width:1200px) {
    .contact-wrap .header-list {
        display: flex;
    }
}


@media screen and (min-width:768px){
    .phone {
            margin-left: 0;
            margin-top: 10px;
        }
}
@media screen and (min-width:1200px){
    .phone {
            margin-left: 40px;
            margin-top: 0;
        }
}

.heder-list__icon {
    margin-right: 10px;
    fill: #757575;
    transition: var(--transition-hover-focus);
}


.header-list__link {
    color: var(--secondary-text-color);
    display: flex;
    align-items: center;
    
    &:hover .heder-list__icon,
    &:focus .heder-list__icon {
        fill: var(--accent-color);
    }
}
