.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 3;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border: none;
    background-color: var(--primary-white-color);
    margin-top: 8px;
    margin-right: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.cros {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--black-color);
}

.close:hover .cros {
    fill: var(--accent-color);
}

.modal-title {
    @include font (700, 20px, 1.15, 0.03em);

    text-align: center;
    font-family: 'Roboto';
    color: var(--primary-text-color);
    margin-bottom: 12px;
}

.form-list-item {
    display: flex;
    flex-direction: column;
}

.form-list-item:not(:first-child) {
    margin-top: 10px;
}

.form-list-item input {
    height: 40px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.form-list-item input:focus {
    border: 1px solid var(--accent-color);
}

.form-list-item input:focus+svg {
    fill: var(--accent-color);
}

.form-list-item svg {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

.input-wrap {
    position: relative;
}


.form-label {
    @include font (400, 12px, 1.16, 0.01em);

    font-family: 'Roboto';
    color: var(--secondary-text-color);
    margin-bottom: 4px;
}

.form-coment {
    max-width: 448px;
    max-height: 120px;
    resize: none;
}

textarea {
    @include font (400, 12px, 1.16, 0.01em);

    font-family: 'Roboto';
    padding: 12px 16px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

textarea:focus {
    border: 1px solid var(--accent-color);
}

.form-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    flex-direction: row-reverse;
}

.label-checkbox {
    @include font (400, 14px, 1.71, 0.03em);

    display: flex;
    align-items: center;
    border: none;
    font-family: 'Roboto';
    color: var(--secondary-text-color);
    border-radius: 4px;
    outline: none;
}

.link-checkbox {
    @include font (400, 14px, 1.71, 0.03em);
    padding-left: 2px;
    font-family: 'Roboto';
    color: var(--accent-color);
}

.square {
    display: flex;
    align-items: center;
    width: 16px;
    height: 15px;
    border: 2px solid var(--primary-text-color);
    border-radius: 2px;
    margin-right: 9px;
}

.input-checkbox:checked+.square {
    background-color: var(--accent-color);
    border: 2px solid var(--accent-color);
    display: flex;
    justify-content: center;
}


.btn {
    @include font (700, 16px, 1.88, 0.06em);
    
    display: block;
    margin: 0 auto;
    background-color: var(--accent-color);
    align-items: center;
    text-align: center;
    color: var(--primary-white-color);
    width: 216px;
    height: 50px;
    border: solid var(--accent-color);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}